---
description: 電子郵件驗證 — Marketo檔案 — 產品檔案
title: 電子郵件驗證
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 95aa6cdcede973e86757b4d9c758e2c7eb4bd5e6
workflow-type: tm+mt
source-wordcount: '135'
ht-degree: 0%

---

# 電子郵件驗證 {#email-verification}

AdobeMarketo Engage訂閱僅需要所有非API使用者驗證其電子郵件地址。 單一登入(SSO)使用者在透過電子郵件驗證啟用訂閱時，會自動取得電子郵件驗證。

**使用者邀請**

當管理員邀請使用者時，當該使用者按一下邀請連結後，就會自動驗證該使用者。 具有SSO的使用者會自動驗證。

**變更電子郵件地址**

使用者的電子郵件地址變更後，即會無法驗證。 系統會傳送電子郵件給他們，讓他們重新驗證。 管理員可以按一下 **重發驗證**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**使用者和角色**

在「管理員>使用者和角色」中，「電子郵件狀態」欄會顯示每位使用者的驗證狀態。

![](assets/email-verification-3.png)

要驗證未驗證的用戶，只需選擇其記錄並按一下 **驗證電子郵件** 按鈕。
