---
description: 電子郵件驗證 — Marketo檔案 — 產品檔案
title: 電子郵件驗證
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# 電子郵件驗證 {#email-verification}

我想你說過，我們只會製作一個新頁面，覆蓋用戶的電子郵件驗證

使用者邀請管理員邀請使用者時，使用者的UI或體驗不會變更當使用者按一下邀請連結時，其電子郵件會自動驗證使用SSO的使用者

「使用者帳戶」畫面會將電子郵件地址顯示為已驗證更新電子郵件地址時，UI會反映帳戶的電子郵件未驗證且已傳送電子郵件（請參閱附加的電子郵件）

管理員 — 用戶和角色頁面顯示用戶驗證狀態的新列新按鈕可再次觸發用戶的電子郵件驗證

MyMarketo當具有未驗證電子郵件的使用者登入時，應該會在我的Marketo頁面上看到橫幅（僅限）。
