---
description: 電子郵件驗證 — Marketo檔案 — 產品檔案
title: 電子郵件驗證
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# 電子郵件驗證 {#email-verification}

Adobe Marketo Engage訂閱僅需要所有非API的使用者才能驗證其電子郵件地址。 單一登入(SSO)使用者在透過電子郵件驗證啟用訂閱時，會自動取得電子郵件驗證。

**使用者邀請**

當管理員邀請使用者時，當該使用者按一下邀請連結後，就會自動驗證該使用者。 具有SSO的使用者會自動驗證。

**變更電子郵件地址**

使用者的電子郵件地址變更後，即會無法驗證。 系統會傳送電子郵件給他們，讓他們重新驗證。 使用者可以按一下「 」，手動重新傳送該電子郵件 **重發驗證**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**使用者和角色**

在「管理員>使用者和角色」中，「電子郵件狀態」欄會顯示每位使用者的驗證狀態。

![](assets/email-verification-3.png)

要向未驗證的用戶重新發送驗證電子郵件，只需選擇其記錄並按一下 **驗證電子郵件** 按鈕。
