---
description: 電子郵件驗證 — Marketo文檔 — 產品文檔
title: 電子郵件驗證
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 05129f546cf2ba0df5c608485adf73c26d4b4f1e
workflow-type: tm+mt
source-wordcount: '135'
ht-degree: 0%

---

# 電子郵件驗證 {#email-verification}

AdobeMarketo Engage訂閱要求所有非API用戶驗證其電子郵件地址。 啟用「電子郵件驗證」後，單一登錄(SSO)用戶將自動驗證其電子郵件。

**用戶邀請**

當管理員邀請用戶時，一旦用戶按一下邀請連結，就會自動驗證該用戶。 使用SSO的用戶會自動驗證。

**更改電子郵件地址**

當用戶的電子郵件地址被更改時，它將變為未驗證。 將向他們發送電子郵件，以便他們重新驗證。 管理員可以通過按一下 **重新發送驗證**。

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**用戶和角色**

在「管理」>「用戶和角色」中，「電子郵件狀態」列顯示每個用戶的驗證狀態。

![](assets/email-verification-3.png)

要驗證未驗證的用戶，只需選擇其記錄並按一下 **驗證電子郵件** 按鈕
