---
description: 電子郵件驗證 — Marketo檔案 — 產品檔案
title: 電子郵件驗證
hide: true
hidefromtoc: true
source-git-commit: 7e6fab646ec03394cb406fc41442d585c162bb25
workflow-type: tm+mt
source-wordcount: '10'
ht-degree: 0%

---

# 電子郵件驗證 {#email-verification}
